* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Julius Sans One', sans-serif;
}


/*header*/

header {
    display: flex;
    justify-content: center;
    background-color: rgba(47,85,114,.3);
}

.logo {
    top: 0;
    width: 150px;
    height: 80px;
}

/*Product*/



h1 {
    margin: 50px;
    text-align: center;
}
.choice {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    text-align: center;
  }
  
  .figure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(70%  / 3);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
  }
  
  .figure-container p {
    color: black;
    width: 100%;
    font-weight: 700;
    text-decoration: underline; 
  }
  
  .figure-container h2 {
    font-size: 20px;
    color: #0F9D58;
  }
  .figure-container > ol {
    margin: 15px 0;
  }
  
  .figure-container > ol > li {
    padding: 5px 0;
    text-align: justify;
  }

  .figure-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px black;
    margin-top: -6rem;
    margin-bottom: 25px;
  }
  
  .figure-container > button {
    width: 100px;
    margin: 10px;
    background-color: black;
    font-size: 20px;
    cursor: grab;
    color: white;
    border: solid 1px #0F9D58;
  }
  
  .figure-container > button:hover {
    background-color: #0F9D58;
    transition: background-color 1s;
  }


  /*tableau d'achat*/

  #productList {
    text-align: center;
    margin-top: 20px;
  }                                  

  /*footer*/

  .footer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f5572;
    color: #fff;
    font-weight: 200;
    height: 100px;
    width: 100%;
}

.footer-element {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-element p {
    font-size: 15px;
    font-weight: lighter;
}

